<div style="width: 10%; float:left; margin-left: 40px;">
	<div style="margin-bottom: 30px;">
		<a href="{{ site.baseurl }}/index.html"> Blog Posts </a> 
	</div>
	<div style="margin-bottom: 30px;">
		<a href="{{ site.baseurl }}/_reviews/index.html"> Book Reviews </a> 
	</div>
	<div style="margin-bottom: 30px;">	
		<a href="{{ site.baseurl }}/_pressos/index.html"> Presentations </a>
	</div>
	<div style="margin-bottom: 30px;"> 
		<a href="{{ site.baseurl }}/_papers/index.html"> Papers </a>
	</div>
</div>

